*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Mukta', sans-serif;
}

/*Acá comenzamos con la edición del register.html*/
.register{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

/*Edicion del formulario*/
form {
    width: 30rem;
    color: rgb(82, 82, 209);
}

.input-box{
    display: flex;
    flex-direction: column;
}

.input-box label {
    line-height: 2rem;
}


/* Registro del nombre que va a registrar el usuario en la pagina*/
#nombre{
    outline: none;
    border: none;
    border-bottom: 0.1rem solid black;
    line-height: 1.5rem;
    border-color: rgb(82, 82, 209);
}

#labelNombre{
    margin-top: 1rem;
}

/* Registro del nombre de usuario que va a registrar el usuario en la pagina*/
#userReg{
    outline: none;
    border: none;
    border-bottom: 0.1rem solid black;
    line-height: 1.5rem;
    border-color: rgb(82, 82, 209);
}

#labelUser{
    margin-top: 1rem;
}

/* Registro del email que va a registrar el usuario en la pagina*/
#email{
    outline: none;
    border: none;
    border-bottom: 0.1rem solid black;
    line-height: 1.5rem;
    border-color: rgb(82, 82, 209);
}

#labelEmail{
    margin-top: 1rem;
}

/* Registro de la contraseña que va a registrar el usuario en la pagina*/

#passReg{
    outline: none;
    border: none;
    border-bottom: 0.1rem solid black;
    line-height: 1.5rem;
    border-color: rgb(82, 82, 209);
}

#labelPass{
    margin-top: 1rem;   
}

/*Edicion del mensaje si el usuario ya tiene una cuenta creada en esta pagina*/
.mensajeReg a{
    text-decoration: none;
    line-height: 5rem;
}


#registrar{
    margin-top: 3rem;
    height: 2.5rem;
    border-radius: 1rem;
    background-color: rgb(82, 82, 209);
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

#registrar:hover{
    background-color: rgb(14, 107, 194);
    transition: background-color 150ms 2ms;
}


#pantalla-dividida{
    display: flex;
}


/***Acá comenzamos con la edición de login.html***/


.logIn{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.check-box {
    margin-top: 1rem;
    border-color: rgb(82, 82, 209);
}


#ingresar{
    height: 2.5rem;
    border-radius: 1rem;
    background-color: rgb(82, 82, 209);
    color: white;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
}

#ingresar:hover{
    background-color: rgb(14, 107, 194);
    transition: background-color 150ms 2ms; /*el primer parametro (150 minisegundos) es el tiempo que que va a tardar en hacer la transición, y el segundo parametro (150 minisegundos) es el delay, es decir, cuando quiero que arranque la transición o animación.*/
}



#userLog{
    outline: none;
    border: none;
    border-bottom: 0.1rem solid black;
    line-height: 1.5rem;
    border-color: rgb(82, 82, 209);
}

#passLog{
    outline: none;
    border: none;
    border-bottom: 0.1rem solid black;
    line-height: 1.5rem;
    border-color: rgb(82, 82, 209);
}

.mensajeLog a{
    text-decoration: none;
    line-height: 5rem;
}